<%-include("./__blocks/admin/__admin_header.ejs") %>

<main>
  <%if(req.path === "/cms"){ %>
  <%-include("./__blocks/admin/__cms.ejs") %>

  <% } %> <%if(req.path === "/catalog_management"){ %>
    <%-include("./__blocks/admin/__catalog.ejs") %>
 
  <% } %> <%if(req.path === "/orders"){ %>
    <%-include("./__blocks/admin/__orders.ejs") %>
  <% } %>
</main>


</div>
</div>
</body>
</html>
