/* Футер */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  min-height: 10vh;
  background: var(--dark);
}

.copyright {
  position: relative;
  font-size: calc(12px + 0.4vw);
  color: var(--white);
  /* text-align: center; */
  /* top: 30px; */
}
