<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/admin.css" />
    <link rel="stylesheet" href="../css/media.css" />
    <%if(req.path === "/cms"){ %>
    <script src="../js/admin-cms.js" defer></script>
    <% } %>
    <%if(req.path === "/catalog_management"){ %>
      <script src="../js/admin-catalog.js" defer></script>
    <% } %>
    <%if(req.path === "/orders"){ %>
        <script src="../js/admin-orders.js" defer></script>
    <% } %>
    <title>Панель администратора</title>
  </head>
  <body>
    <div class="page-layout">
      <h1 class="page-title">Панель администратора</h1>
      <%if(req.data){ %> <% } %>
      <div class="admin-panel">
        <div class="admin-navigation">
          <nav>
            <%if(req.path === "/cms"){ %>
            <a class="nav__item active" href="/admin/cms">Управление контентом</a>
            <% }else{ %>
            <a class="nav__item" href="/admin/cms">Управление контентом</a>
            <% } %> <%if(req.path === "/catalog_management"){ %>
            <a class="nav__item active" href="/admin/catalog_management"
              >Управление каталогом</a
            >
            <% }else{ %>
            <a class="nav__item" href="/admin/catalog_management"
              >Управление каталогом</a
            >
            <% } %> <%if(req.path === "/orders"){ %>
            <a class="nav__item active" href="/admin/orders"
              >Управление заявками</a
            >
            <% }else{ %>
            <a class="nav__item" href="/admin/orders">Управление заявками</a>
            <% } %>
          </nav>
          <a class="sign-out-button" href="/admin/sign_out" role="button">Выйти</a>
        </div>
        