<div class="cms-content">
  <select name="section_select" id="section_select">
    <option value="">-- Выбор секции --</option>
  </select>
  <form class="cms_managment" action="" method="post">
    <h2 class="title"></h2>
    <textarea name="content" id="cms_text_area" cols="30" rows="10"></textarea>
    <button class="save_changes_button" type="submit">
      Подтвердить изменения
    </button>
  </form>
</div>
