      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link rel="stylesheet" href="./css/style.css" />
          <link rel="stylesheet" href="./css/header.css" />
          <link rel="stylesheet" href="./css/footer.css" />
          <link rel="stylesheet" href="./css/media.css" />
          <script src="./js/app.js" defer></script>
          <script src="./js/cart.js" defer></script>
          <script src="./js/smooth-scroll.js" async></script>
       
          <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
          />
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
          />
          <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.2.0/uicons-brands/css/uicons-brands.css"
          />
          <% if(req.url === "/"){ %>
            <link rel="stylesheet" href="./css/index.css" />
            <script src="./js/index.js" defer></script>
          <% } %> <% if(req.url === "/catalog"){ %>
            <link rel="stylesheet" href="./css/catalog.css">
            <script src="./js/catalog.js" defer></script>
            <% } %> <% if(req.url === "/contacts"){ %>
              <link rel="stylesheet" href="./css/contacts.css" />
              <% } %>
          <title>ООО "Медведь"</title>
        </head>
        <body id="body">
          <div class="page-layout">

<header class="header-main-page header">
    <% if(req.url === "/"){ %>
    <div class="header__navigation header__navigation_gradient-color">
    <% } else {%>
   <div class="header__navigation header__navigation_flat-color">
    <% } %>
    <nav>
      <menu>
        <% if(req.url === "/"){ %>
          <a class="header__nav-item header__nav-item--active" href="/">Главная</a>
          <% } else {%>
            <a class="header__nav-item" href="/">Главная</a><% } %> 
            <% if(req.url === "/catalog"){ %><a
            class="header__nav-item header__nav-item--active"
            href="/catalog"
            >Продукция</a
          >
          <% } else {%><a class="header__nav-item" href="/catalog">Продукция</a><% }
          %> <% if(req.url === "/contacts"){ %><a
            class="header__nav-item header__nav-item--active"
            href="/contacts"
            >Контакты</a
          >
          <% } else {%><a class="header__nav-item" href="/contacts">Контакты</a><% }
          %>
          <% if(req.user) {%><a class="header__nav-item" href="/admin/cms">Админ панель</a> <% } %>
      </menu>
    </nav>
    <a class="header__telephone" href="tel:+79314325544">
      <i class="fi fi-rr-phone-call"></i>
      <span><%= content.telephone %></span>
    </a>
    <div class="header__toggle-menu"><span></span></div>
  </div>
</header>

      