<a class="scroll-top-button scroll-top-button__clicked" href="#body">
  <div class="scroll-top-button__top"></div>
  <div class="scroll-top-button__arrows">
    <span class="scroll-top-button__top-arrow scroll-top-button__arrow"></span>
    <span
      class="scroll-top-button__middle-arrow scroll-top-button__arrow"
    ></span>
    <span
      class="scroll-top-button__bottom-arrow scroll-top-button__arrow"
    ></span>
  </div>
  <div class="scroll-top-button__bottom"></div>
</a>
